.content__container {
  display: grid;
  grid-template-columns: 50% 45%;
  gap: 5%;
}

.images {
  background: url('../../../assets/images/movie_posters/catch_me_if_you_can.jpg');
  object-fit: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 70vh;
  width: 25vw;
  animation: slider alternate-reverse 30s forwards infinite running ease-in-out;
  border-radius: 16px;
}

@keyframes slider{
  20%{
    background-image: url('../../../assets/images/movie_posters/catch_me_if_you_can.jpg');
  }
  40%{
    background-image: url('../../../assets/images/movie_posters/fight_club_.jpg');
  }
  60%{
    background-image: url('../../../assets/images/movie_posters/her.jpg');
  }
  80%{
    background-image: url('../../../assets/images/movie_posters/forrest_gump.jpg');
  }
  0%,100%{
    background-image: url('../../../assets/images/movie_posters/the_dark_knight.jpg');
  }
}

