:root {
  --color-pink: rgb(226, 0, 116);
  --color-pink-trans: rgba(226, 0, 116 , .25);
  --color-white-alternative: #FFF9E3;
  --transition: 300ms ease;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn, .btn:disabled{
  background: white;
  border: 1px solid var(--color-pink);
  color: var(--color-pink);
  transition: var(--transition);
}

.btn:hover, .btn:first-child:active, :not(.btn-check)+.btn:active{
  border-color: var(--color-white-alternative);
  border-width: 3px;
  background: var(--color-pink);
  color: white;
  transition: var(--transition);
}

.btn:focus-visible {
  border: none;
  background: var(--color-pink);    
  color: white;
  -moz-box-shadow: 0 0 0 .25rem var(--color-pink-trans);
  -webkit-box-shadow: 0 0 0 .25rem var(--color-pink-trans);
  box-shadow: 0 0 0 .25rem var(--color-pink-trans);
  transition: var(--transition);
}

.form-control:focus {
  border-color: var(--color-pink-trans);
  box-shadow: 0 0 0 0.25rem var(--color-pink-trans);
}