.content__container {
  display: grid;
  grid-template-columns: 50% 45%;
  gap: 5%;
}

.image {
  border-radius: 16px;
  object-fit: cover;
  height: 70vh;
  width: 25vw;
}

.error__message {
  min-height: calc(100vh - 10rem);
}